*{
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin: 0;
   padding: 0;
}
body, html{
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
}

header{
   display: grid;
   grid-template-columns: 1fr 5fr 1fr;
   align-items: center;
   justify-items: center;
   height: 100px;
   width: 100%;
   position: fixed;
   background-color: #52525b;
   border: none;
   box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
   z-index: 1;
   padding: 0px 20px 0px 20px;

}
nav{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}
nav button{
   width: 100px;
   height: 40px;
   background-color: #71717a;
   border: none;
   border-radius: 5px;
   margin: 10px;
   color: #F3F4F4;
   font-size: 1rem;
}
.btnBook{
   width: 110px;
   height: 50px;
   border: none;
   border-radius: 10px 2px;
   box-shadow: 2px 3px 2px rgba(0, 0, b0, 0.4);
   background-color: #18181b;
   color: #F3F4F4;
   font-size: 1rem;
   font-weight: bold;
}
#content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #a1a1aa;
}
.firstDiv{
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-self: center;
   justify-items: center;
   margin: 200px 0px 0px 80px;
   /* width: 100%; */
   background-color: #a1a1aa;
   position: relative;
   /* padding: 0px 30px 0px 30px; */
   
}
.home-title{
   display: grid;
   /* grid-template-rows: 1fr 1fr 1fr; */
   padding-bottom: 20px;
   align-self: start;
   justify-items: center;
   gap: 50px;

}
h3{
   position: initial;
   /* margin-top: 150px; */
   color: red;
   font-size: 3rem;
   padding-bottom: 50px;
}
#btnMenu{
   width: 170px;
   height: 50px;
   background-color: #71717a;
   border: none;
   border-radius: 8px 2px;
   margin: 10px;
   color: white;
   font-size: 1.5rem;
   font-weight: 120px;
   box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);

}
#btnSubBook{
   width: 170px;
   height: 50px;
   background-color: #18181b;
   border: none;
   border-radius: 8px 2px;
   margin: 10px;
   color: white;
   font-size: 1.5rem;
   font-weight: 120px;
   box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);
}
/* .homePic{
   position: relative;
} */
#dish{
   position: absolute;
   top: 320px;
   left: 470px;
   /* right: 450px; */
   
}

.secondDiv{
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-items: center;
   background-color: #F3F4F4;
   gap: 30px;
   width: 100%;
   height: 300px;
   background-color: #27272a;
}

.hourOpen{
   display:flex;
   flex-direction: column;
   justify-content: center;
   border: none;
   border-radius: 10px;
   background-color: #a1a1aa;
   width: 400px;
   height: 200px;
   box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);

}
.address{
   display:flex;
   flex-direction: column;
   justify-content: center;
   border: none;
   border-radius: 10px;
   background-color: #a1a1aa;
   width: 400px;
   height: 200px;
   box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.2);

}

.thirdDiv{
   display: grid;
   grid-template-rows: 1fr 3fr;
   align-items: center;
   justify-items: center;
   width: 100%;
   background-color: #a1a1aa;
 
}
.dishDiv{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   justify-items: center;
   gap: 10px;
   background-color: #a1a1aa;

}
#dishTitle{
   font-size: 2.5rem;
   font-weight: bold;
   color: #F3F4F4;
}
.firstDishes, .secondDishes, .thirdDishes{
   display: grid;
   grid-template-rows: 3fr 1fr;
   gap: 20px;
   background-color: #a1a1aa;
   border: none

}
/* #my-img-one{
   height: 200px;
   width: 300px;
} */

.fourthDiv{
   display: grid;
   grid-template-rows: 3fr 4fr 1fr;
   align-items: center;
   justify-items: center;
   background-color: #27272a;;
   width: 100%;

}
.feedTitle{
   font-size: 2.5rem;
   font-weight: bold;
   color: #F3F4F4;
   margin-top: 0px;

}
.feedback{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   justify-items: center;
   gap: 50px;
   background-color: #27272a;
   margin: 0px 50px 0px 50px;

}
.firstFeed, .secondFeed, .thirdFeed{
   display: grid;
   grid-template-rows: 1fr 2fr;
   align-items: start;
   justify-items: center;
   gap: 0px;
   background-color: #fce7f3;
   border-radius: 50px 20px;
   /* height: 200px; */

}
.person1, .person2, .person3{
   position: relative;
   top:-50px;
   height: 100px;
   
}
/* .person1 img{
   border-radius: 100px;
} */
#persImgOne, #persImgTwo, #persImgThree{
   display: flex;
   flex-direction: column;
   border-radius: 100px;
   width: 109px;
   height: 109px;
}
.textDiv1, .textDiv2, .textDiv3{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 30px 30px 0px 30px;
   /* text-align: center; */
}
.footer{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: black;
   color: white;
   font-size: 1rem;
   height: 80px;
   border: 2px solid black;
  
}
.footer p{
   padding: 10px;
}
